*{
  margin: 0;
}

nav{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  z-index: 1000;
  transition: background-color 0.3s;
}

.logo-container{
  margin-left: 70px;
}
.logo-container img{
  width: 75%;
}

.buttons-container {
  display: flex;
}
.buttons-container button {
  padding: 12px 32px;
  margin-left: 15px;
  height: 48px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  line-height: 21px;
  
}

.button1{
  background-color: #fff;
  color: red;
}

.button2{
  background-color: red;
  color: #fff;
  margin-right: 100px;
}

.image {
  background-image: url('./images/Hero-Image_hbuici.png');
  background-size: 65%; 
  background-position: right;
  background-repeat: no-repeat; 
  height: 109vh;
  padding-top: 60px;
  position: relative;
}

.ul-container li{
  display: inline;
  margin-right: 40px;
  width: 100%;
  height: 120px;
  border-color: transparent; 
  background-color: transparent;
  border-width: 10px; 
  border-style: solid; 
  box-sizing: border-box;
  font-size: 14px;
  
}


.ul-container{
  display: flex;
  
}

.ul-container a{
  text-decoration: none;
  color: black;
}



.ul-container li:hover {
  border-color: rgba(229, 231, 235); 
  background-color: rgba(229, 231, 235);
  border-width: 10px; 
  border-style: solid; 
  box-sizing: border-box;
  width: 100%;
  height: 120px;

}

 .image h1{
  margin-top: 350px;
  color: #1e323f;
  font-size: 49px;
  font-weight: 500;
  margin-left: 160px;
  line-height: 60px;
  letter-spacing: -.04em;
  width: 29%;
}

.image span{
  color: red;
}

.image p{
  margin-top: 60px;
  margin-left: 160px;
  color: #475661;
  font-weight: 400;
  font-size: 18px;
  width: 30%;
  line-height: 30px;
}

.image ul{
  margin-left: 112px;
  margin-top: 50px;
}

.image li{
  display: inline;
  margin-right: 2px;

  
}

.image h3{
  margin-top: 180px;
  display: flex;
  justify-content: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -.02em;
  color: #1e323f;
}

.native-comment {
  background-color: #FFEEEC;
  width: 100%;
  height: 530px;

}

.slides{
  margin-left: 140px;
  position: relative;
}

.slides img{
  margin-top: 40px;
  padding-left: 20px;
}

#arrow{
position: absolute;
top: 40%;
/* left: 0; */
}
.prev{
margin-inline-start: -1%;
}
.next{
  left: -2%;
}
.third-page {
  width: 100%;
  background-color: #fff;
  height: auto;
  overflow: hidden;
}

.third-page h3 {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  letter-spacing: -.02em;
  color: #1e323f;
  margin-top: 185px;
}

.third-page ul {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.third-page ul li {
  display: inline-block;
  margin-right: 20px
}

.batch-two {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  
}

.batch-two ul li{
  display: inline;
}

.batch-two p {
  width: 300px; 
  font-weight: 400;
  font-size: 15px;
  line-height: 1.5;
  color: #1e323f;
  margin-left: 80px;
  position: relative;
  width: 23%;
  

}

.batch-two span a {
  color: #1976d2;
  text-decoration: none;
}


.swit{
  margin-left: 100px;
}

.swit img{
  margin-left: -33px;
  margin-top: 20px;
  width: 26%;
}

.move{
  margin-left: 550px;
  position: absolute;
  top: 227%;
}



.townCrier{
  margin-top: 10px;
}

.townCrier{
  background-image: url('./images/townCrierBackground_cdla2j.png');
  background-size: cover;
  width: 100%; 
  background-position: right;
  background-repeat: no-repeat; 
  height: 44vh;
  padding-top: 60px;
  position: relative;
}

.townCrier h1{
  display: flex;
  justify-content: center;
  font-weight: 600;
  font-size: 39px;
  line-height: 42px;
  letter-spacing: -.02em;
  color: #fff;
  margin-top: 4%;
  

}

.townCrier p{
margin-left: 37%;
  margin-top: 17px;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  color: #fff;
  width: 27%;

}

.townCrier form{
  display: flex;
  justify-content: center;
  margin-top: 87px;
  margin-right: 110px;

}

.townCrier li{
  display: inline;
  padding-left: 40px;
}

.townCrier input{
  border-width: 100%;
  height: 40px;
  background-color: transparent;
 
}

.townCrier input::placeholder{
  font-size: 16px;
}

.inline-form {
  display: flex;
  list-style-type: none;
  padding: 0; 
}

.inline-form li {
  margin-right: 10px; 
}

.inline-form input[type='text'],
.inline-form button {
  padding: 5px 10px; 
  border: 1px solid #ccc; 
  border-radius: 3px; 
  border-radius: 10px;
}

.inline-form button {
  background-color: #fff; 
  color: #fff;
  border: none;
  cursor: pointer; 
  width: 150px;
  height: 50px;
  border-radius: 10px;
}

.inline-form button a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color:  #1e323f;
}

.partners{
  margin-top: 200px;
  display: flex;
  justify-content: center;
}



.become-native{
  background-image: url('./images/native-background_akyk8r.svg');
  background-size: contain;
  width: 80%; 
  background-position: right;
  background-repeat: no-repeat; 
  margin-left: 10%;
  height: 50vh;
  padding-top: 60px;
  position: relative;
  margin-top: 100px;
}

.become-native #img{
  margin-left: -180px;
  margin-top: 50px;

}

.img2{
  margin-left: 450px;
  position: absolute;
   top: 35%;}

   .become-native button{
    margin-left: 750px;
    position: absolute;
     top: 55%;
     width: 150px;
     height: 50px;
     border-radius: 10px;
     background-color: white;
     border: none;
     
   }

   .become-native a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color:  red;
   }

   .select-tag {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('./images/squaredots_s9xzku\(1\).svg');
    background-size: 20%; 
    background-position: right;
    background-repeat: no-repeat; 
    height: 100vh;
    position: relative;
    margin-top: -100px;
  }
  
  .select-tag > .ExpansionPanel {
    margin-bottom: 20px; 
  }
  
   
     .frequently{
       display: flex;
       justify-content: center;
      color: #1e323f;
      font-size: 40px;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: -.04em;
      margin-top: 100px;
     
    }
    
 

   footer{
    width: 100%;
    height: 550px;
  }

  .firstLine ul{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-left: 120px;
  }

  .firstLine ul li {
    display: inline-block;
    margin-right: 250px;
  }

  footer h3{
    font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #1e323f;
  letter-spacing: -.02em;
  }

  footer p{
    font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  letter-spacing: -.02em;
  margin-top: 12px;
  }

  footer a{
    color: #2b1c1c;
    text-decoration: none;
  }

  footer a:hover{
    color: #2b1c1c;
    text-decoration: underline;
  }
  

  footer .copyright{
    display: flex;
    justify-content: center;
    font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  color: #1e323f;
  margin-top: 80px;
  }

  .secondLine .ul{
  margin-left: 420px;
    margin-top: 80px;
    
  }

  .secondLine .ul .list {
    display: inline-block;
    margin-right: 220px;
  }

  .secondLine .address{
    width: 70%;
   
  }

  #followUs ul{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: -40px;
    
  }
  #followUs{
    margin-left: -140px;
    
  }



  #followUs ul li{
    display: inline-block;
    margin-right: 10px;
   
  }

  #contact{
    margin-left: -10px;
  }

.image-half{
  background-image: url('./images/i1.png');
  background-size: 48%; 
  background-position: right;
  background-repeat: no-repeat; 
  margin-top: 160px;
}

.background-slide{
  background-color: #DAEBFD;
  height: 70vh;

}

.background-slide h2{
  margin-left: 90px;
  padding-top: 50px;
}

.background-slide img{
  margin-left: 50px;
}


.image-half2{
  background-image: url('./images/i7.png');
  background-size: 48%; 
  background-position: right;
  background-repeat: no-repeat; 
  margin-top: 160px;
}

.image-half3{
  background-image: url('./images/i2.png');
  background-size: 48%; 
  background-position: right;
  background-repeat: no-repeat; 
  margin-top: 160px;
}

.image-half4{
  background-image: url('./images/i8.png');
  background-size: 48%; 
  background-position: right;
  background-repeat: no-repeat; 
  margin-top: 160px;
}

.image-half5{
  background-image: url('./images/i4.png');
  background-size: 48%; 
  background-position: right;
  background-repeat: no-repeat; 
  margin-top: 160px;
}

.image-half6{
  background-image: url('./images/i9.png');
  background-size: 48%; 
  background-position: right;
  background-repeat: no-repeat; 
  margin-top: 160px;
}


.carousel {
  .carousel-indicators {
      display: none;
  }
}


.carousel-control-next-icon {
    background-image: url('./images/sRight.png') !important;
    width: 40px !important;
    height: 40px !important;
    margin-left: 180px !important;
    margin-top: 200px;
}

.carousel-control-prev-icon {
  background-image: url('./images/sLeft.png') !important;
  width: 40px !important;
  height: 40px !important;
 margin-right: 200px;
  margin-top: 200px;
}


  
.winsText{
  display: flex;
  justify-content: center;
 color: #1e323f;
 font-size: 38px;
 font-weight: 700;
 line-height: 60px;
 letter-spacing: -.04em;
 margin-top: 100px;

}

.wins img{
  padding-right:60px;

}

.wins{
  margin-left: -133px;
}